body {
  padding: 2em;
}

ul#navigation {
  margin: 0 0 1em 0;
  background-color: #eef;
}

#navigation li {
  display: inline-block;
  margin: 0.25em 0.75em;
}



#mentions li {
  margin: 0.5em 0;
}

#mentions .mention .name {
  color: #888;
  font-size: 0.9em;
  margin-left: 1em;
}

